@font-face{
  font-family: "oswald";
  src: url("Oswald-Regular.ttf");
}
body{
  background-color:rgb(219, 0, 50);
}

.title{
  background-color: white;
  /* box-shadow: 2px 2px; */
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  height: 80px;
}

.title p{
  color: black;
  font-size: 50px;
  margin-top: .5%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: oswald;
}

p{
  font-family: oswald;
}

.blurb{
  background-color: white;
  /* box-shadow: 2px 2px; */
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 0 10vw;
  margin-top: 70px;
  position: absolute;
  font-size: 20px;
}

.social{
  display: inline-block;
  position: absolute;
  margin-top: 55vh;
  margin-left: 8vw;
}

.social img{
  width: 100px;
  height: 100px;
  margin: 0 75px
}

#facebook{
  width:125px;
  height:100px;
}

#twitter{
  width: 110px;
}

/* .bubbles img{
    width: 50px;
    margin: auto;


}

.bubbles div{
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: %;
} */



/********************************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  border-radius: 10px;
  left: 30%;
  margin-top: 3%;
}

.slideshow-container img{
  border-radius: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(0,0,0,.1);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-left: 100%;
  margin: 0 75%;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*****************************************/
